<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.testcy.boot.mapper.AccountMapper">
    <select id="getAccountById" resultType="com.testcy.boot.bean.Account">
        select * from t_account where id=#{id}
    </select>
</mapper>