<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="haha" class="com.testcy.boot.bean.Cat">
        <property name="name" value="haha"></property>
    </bean>

    <bean id="hehe" class="com.testcy.boot.bean.User">
        <property name="name" value="hehe"></property>
        <property name="age" value="18"></property>
    </bean>
</beans>